---
stages:
  - test
  - build
  - deploy

shellcheck:
  stage: test
  tags:
    - gitlab-org-docker
  image: alpine:latest
  before_script:
    - apk update
    - apk add --no-cache shellcheck
  script:
    - echo "Revisando scripts..."
    - shellcheck --version
    - shellcheck --shell=bash --severity=warning etc/cron.daily/*
    - shellcheck --shell=bash --severity=warning etc/cron.monthly/*
    - shellcheck --shell=bash --severity=warning usr/lib/nagios/plugins/check_backup-cron
    - shellcheck --shell=bash --severity=warning usr/libexec/backup-cron/backup-cron_functions.sh
    - shellcheck --shell=bash --severity=warning usr/sbin/*
    - echo "No se encontraron problemas en scripts."
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - DEBIAN/**/*
        - etc/**/*
        - usr/**/*

build_deb_pkg:
  stage: build
  tags:
    - gitlab-org-docker
  image: debian:stable-slim
  before_script:
    - apt-get update && apt-get install -y dpkg
  script:
    - mkdir -p ${CI_PROJECT_NAME}/DEBIAN
    - cp -r etc/ ${CI_PROJECT_NAME}
    - cp -r usr/ ${CI_PROJECT_NAME}
    - |
      cat <<EOF > ${CI_PROJECT_NAME}/DEBIAN/control
      Package: ${CI_PROJECT_NAME}
      Version: ${CI_COMMIT_TAG#v}
      Section: base
      Priority: optional
      Architecture: any
      Depends: bzip2, mailutils, mbuffer, monitoring-plugins, pv, tar, tmpreaper
      Maintainer: Martin Andres Gomez Gimenez <mggimenez@nis.com.ar>
      Description: A minimalist backup copy generation system.
      EOF
    - dpkg-deb --build ${CI_PROJECT_NAME} ${CI_PROJECT_NAME}-${CI_COMMIT_TAG#v}.deb
  rules:
    - if: $CI_COMMIT_TAG
  artifacts:
    paths:
      - "*.deb"
    expire_in: never

publish_deb_pkg:
  stage: deploy
  tags:
    - gitlab-org-docker
  image: curlimages/curl:latest
  needs:
    - job: build_deb_pkg
      artifacts: true
  script:
    - |
      curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file "${CI_PROJECT_NAME}-${CI_COMMIT_TAG#v}.deb" \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/debian/${CI_PROJECT_NAME}-${CI_COMMIT_TAG#v}.deb?distribution=stable"
  rules:
    - if: $CI_COMMIT_TAG
