Package: backup-cron
Version: 2.14
Section: base
Priority: optional
Architecture: any
Depends: bzip2, mailutils, mbuffer, monitoring-plugins, tar, tmpreaper 
Maintainer: Martin Andres Gomez Gimenez <mggimenez@ingeniovirtual.com.ar>
Description: A minimalist backup copy generation system.
 Backup-cron is a minimal system for generating backup copies based on GNU tools and using the Cron scheduler.
